<!-- About Card -->

<div class='container'>
  <div class='card-panel hoverable'>

    <div class='row valign-wrapper'>
      <div class='col s6'>
        <%= image_tag 'me.jpg', class: 'responsive-img circle' %>
      </div>
      <div class='col s7'>
        <h3>Hello, I'm <strong>Ryan Ching</strong></h3>
        <h5>Full Stack Developer / Designer</h5>
        <div class='divider'></div>
        <blockquote>
          Thanks for visiting my portfolio site. Welcome. Hire me prez!
        </blockquote>
      </div>
    </div>

    <div class='row card-action' style='margin-bottom: 0px;'>
      <div class='col s4 center-align'>
        <i class='fa fa-linkedin fa-2x'></i>
      </div>
      <div class='col s4 center-align'>
        <i class='fa fa-github-alt fa-2x'></i>
      </div>
      <div class='col s4 center-align'>
        <i class='fa fa-angellist fa-2x'></i>
      </div>
    </div>

  </div>
</div>

<!-- Skills -->

<div class='container'>
  <div class='card-panel hoverable'>
    <h5 class='center-align'>Technical Skills</h5>
    <div class='row' style='margin-bottom: 0px;'>

      <div class='col s6'>
        <span style='display: block;'>Ruby</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 100%'></div>
        </div>
      </div>

      <div class='col s6'>
        <span style='display: block;'>Javascript</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 100%'></div>
        </div>
      </div>

    </div>
    <div class='row' style='margin-bottom: 0px;'>

      <div class='col s6'>
        <span style='display: block;'>HTML</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 100%'></div>
        </div>
      </div>

      <div class='col s6'>
        <span style='display: block;'>CSS</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 100%'></div>
        </div>
      </div>

    </div>
    <div class='row' style='margin-bottom: 0px;'>

      <div class='col s6'>
        <span style='display: block;'>React JS</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 100%'></div>
        </div>
      </div>

    </div>
  </div>
</div>
