<!-- About Card -->

<div class='container'>
  <div class='card-panel hoverable' id='about-card'>

    <div class='row valign-wrapper'>
      <div class='col s5'>
        <%= image_tag 'me.jpg', class: 'responsive-img circle' %>
      </div>
      <div class='col s7'>
        <h3>Hello, I'm <strong>Ryan Ching</strong></h3>
        <h5>Web Developer / Interaction Designer</h5>
        <div class='divider'></div>
        <blockquote style='border-color: #0288d1;'>
          Thanks for visiting my portfolio site. Hire me prez!
        </blockquote>
        <a class='waves-effect waves-light btn blue'>my resume</a>
        <a class='waves-effect waves-light btn blue'>contact me</a>
      </div>
    </div>

    <div class='row card-action' style='margin-bottom: 0px;'>
      <div class='col s4 center-align'>
        <i class='fa fa-linkedin fa-2x'></i>
      </div>
      <div class='col s4 center-align'>
        <i class='fa fa-github-alt fa-2x'></i>
      </div>
      <div class='col s4 center-align'>
        <i class='fa fa-angellist fa-2x'></i>
      </div>
    </div>

  </div>
</div>

<!-- Skills -->

<div class='container'>
  <div class='card-panel hoverable'>
    <h5 class='center-align'>Technical Skills</h5>
    <div class='row' style='margin-bottom: 0px;'>

      <div class='col s6'>
        <span style='display: block;'>Ruby</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 75%'></div>
        </div>
      </div>

      <div class='col s6'>
        <span style='display: block;'>Javascript</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 70%'></div>
        </div>
      </div>

    </div>
    <div class='row' style='margin-bottom: 0px;'>

      <div class='col s6'>
        <span style='display: block;'>HTML</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 90%'></div>
        </div>
      </div>

      <div class='col s6'>
        <span style='display: block;'>CSS</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 80%'></div>
        </div>
      </div>

    </div>
    <div class='row' style='margin-bottom: 0px;'>

      <div class='col s6'>
        <span style='display: block;'>React JS</span>
        <div class='progress'>
          <div class='determinate blue' style='width: 65%'></div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Porfolio -->

<div class='container'>

  <h5 class='center-align'>Porfolio</h5>
  <div class='row' style='margin-bottom: 0px;'>

    <div class='card hoverable col s4'>
      <div class='card-image'>
        <%= image_tag 'codestamps.png', class: 'responsive-img' %>
        <span class='card-title black-text'>Code Stamps</span>
      </div>
      <div class='card-content'>
        This is my project
      </div>
      <div class='card-action'>
        <div class='row'>
          <div class='chip'>
            React JS
          </div>
          <div class='chip'>
            Ruby on Rails
          </div>
          <div class='chip'>
            jQuery
          </div>
          <div class='chip'>
            AJAX
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
