<!-- About Card -->

<div class='section'>
  <div class='container'>

    <div class='card-panel hoverable scrollspy' id='intro-card'>
      <div class='row valign-wrapper'>
        <div class='col s12 m5 l5'>
          <%= image_tag 'me.jpg', class: 'responsive-img circle' %>
        </div>
        <div class='col s12 m7 l7 hide-on-med-and-down'>
          <h3>Hello, I'm <strong>Ryan Ching</strong></h3>
          <h5>Passionate. Express. Learn.</h5>
          <blockquote style='border-color: #0288d1;'>
            Hello. Welcome to my personal site where I talk. Check out what I do.
            Best of luck.
          </blockquote>
          <a class='waves-effect waves-light btn blue button-size'>resume</a>
          <a class='waves-effect waves-light btn blue button-size'>contact me</a>
        </div>
      </div>

      <div class='col s12 m7 l7 hide-on-med-and-up'>
        <h3>Hello, I'm <strong>Ryan Ching</strong></h3>
        <h5>Passionate. Express. Learn.</h5>
        <blockquote style='border-color: #0288d1;'>
          Hello. Welcome to my personal site where I talk. Check out what I do.
          Best of luck.
        </blockquote>
        <div class='row'>
          <div class='col s12'>
            <a class='waves-effect waves-light btn blue'>resume</a>
          </div>
          <div class='col s12'>
            <a class='waves-effect waves-light btn blue'>contact me</a>
          </div>
        </div>
      </div>

      <div class='row card-action' style='margin-bottom: 0px;'>
        <div class='col s4 center-align'>
          <a class='fa fa-linkedin fa-2x grey-text' href='http://linkedin.com/in/ryching'></a>
        </div>
        <div class='col s4 center-align'>
          <a class='fa fa-github-alt fa-2x grey-text'
           onclick="Materialize.toast('*meow*', 4000)"
              href='https://github.com/ryancj'></a>
        </div>
        <div class='col s4 center-align'>
          <a class='fa fa-angellist fa-2x grey-text' href='https://angel.co/ryankc'></a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- About Me -->

<div class='section'>
  <div class='container'>
    <span class='header center-align scrollspy' id='about'><h3>About Me</h3></span>

    <div>
      <p class='flow-text'>
        Hello again and welcome to my personal site!
      </p>
    </div>

    <div class='row'>

      <div class='col s12 m6 l6'>
        <div class='card hoverable'>
          <div class='card-image waves-effect waves-block waves-light'>
            <img class='activator' src='http://i.imgur.com/ZGSGH0D.jpg'/>
          </div>
          <div class='card-content'>
            <span class='card-title activator'>Developer<i class='material-icons right'>more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class='card-title grey-text text-darken-4'>Card Title<i class='material-icons right'>close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class='col s12 m6 l6'>
        <div class='card hoverable'>
          <div class='card-image waves-effect waves-block waves-light'>
            <img class='activator' src='http://i.imgur.com/CItsqFT.jpg'/>
          </div>
          <div class='card-content'>
            <span class='card-title activator'>Designer<i class='material-icons right'>more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class='card-title grey-text text-darken-4'>Card Title<i class='material-icons right'>close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Skills -->

<div class='section'>
  <div class='container'>

    <div class='card-panel blue lighten-3 hoverable'>
      <h3 class='header center-align scrollspy' id='skills'>The Nerdy Stuff</h3>

      <div class='row center-align'>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/WQ4xHOZ.png'/>
          <span style='display: block;'>HTML5</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/ulbfJ7B.png'/>
          <span style='display: block;'>CSS3</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/mjHRxKF.png'/>
          <span style='display: block;'>JavaScript</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/5wsFN5n.png'/>
          <span style='display: block;'>jQuery</span>
        </div>
      </div>

      <div class='row center-align'>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/nhawsZv.png'/>
          <span style='display: block;'>React JS</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/ko7uE3o.png'/>
          <span style='display: block;'>Bootstrap</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/meiREkC.png'/>
          <span style='display: block;'>Materialize</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/XWoMjgZ.png'/>
          <span style='display: block;'>Sass</span>
        </div>
      </div>

      <div class='row center-align'>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/Rd3AcNk.png'/>
          <span style='display: block;'>Ruby</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/xH7fU4s.png'/>
          <span style='display: block;'>Ruby on Rails</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/3afLr3a.png'/>
          <span style='display: block;'>PostgreSQL</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/aC1jZAk.png'/>
          <span style='display: block;'>RSpec</span>
        </div>
      </div>

      <div class='row center-align'>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/h0OwGSd.png'/>
          <span style='display: block;'>Git / GitHub</span>
        </div>
        <div class='col s6 m3 l3'>
          <img src='http://i.imgur.com/q8qpfVk.png'/>
          <span style='display: block;'>Adobe Suite</span>
        </div>
      </div>

    </div>

    <ul class='collection with-header'>
      <li class='collection-header'><h3 class='center-align'>General Nerdy Stuff</h3></li>
      <li class='collection-item'>RESTful API</li>
      <li class='collection-item'>MVC</li>
      <li class='collection-item'>Agile / Scrum	Methodology</li>
      <li class='collection-item'>Deployment with Heroku</li>
    </ul>

  </div>
</div>

<!-- Porfolio -->

<div class='section blue lighten-2 scrollspy' id='projects'>
  <div class='container'>
    <h5 class='header center-align'>Featured Projects</h5>

    <div class='row'>

      <div class='col s12 m4 l4'>
        <div class='card modal-trigger hoverable' href='#codestamps'>

          <div class='card-image'>
            <img src='http://i.imgur.com/srqaVQU.jpg/'/>
          </div>
          <div class='card-content'>
            <div class='card-title'>Code Stamps</div>
            Test
          </div>
        </div>
      </div>

      <div id="codestamps" class="modal">
       <div class="modal-content">
         <h4>Code Stamps</h4>
         <p>A bunch of text</p>
       </div>
       <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Back</a>
       </div>
     </div>

      <div class='col s12 m4 l4'>
        <div class='card hoverable'>
          <div class='card-image'>
            <img src='http://i.imgur.com/v1DTD7O.jpg/'/>
          </div>
          <div class='card-content'>
            <div class='card-title'>Codrlogue</div>
            Test
          </div>
        </div>
      </div>

      <div class='col s12 m4 l4'>
        <div class='card hoverable'>
          <div class='card-image'>
            <img src='http://siren337.weebly.com/uploads/1/9/5/4/19541579/9285900_orig.jpg'/>
          </div>
          <div class='card-content'>
            <div class='card-title'>Siren</div>
            Test 3
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Photos -->

<div class='section'>
  <div class='container'>
    <h5 class='header center-align scrollspy' id='photos'>Cool Photos</h5>

    <div class='row'>
      <div class='col 12 m4 l4'>
        <img class='materialboxed z-depth-2 responsive-img'
        data-caption='Sunset at Seattle, Washington'
        src='http://i.imgur.com/nKzTPaS.jpg'/>
      </div>
      <div class='col s12 m4 l4'>
        <img class='materialboxed z-depth-2 responsive-img'
        data-caption='Test' src='http://i.imgur.com/nKzTPaS.jpg'/>
      </div>
      <div class='col s12 m4 l4'>
        <img class='materialboxed z-depth-2 responsive-img'
        data-caption='Test' src='http://i.imgur.com/nKzTPaS.jpg'/>
      </div>
    </div>

    <div class='row'>
      <div class='col s12 m4 l4 offset-m2 offset-l2'>
        <img class='materialboxed z-depth-2 responsive-img'
        data-caption='Test' src='http://i.imgur.com/nKzTPaS.jpg'/>
      </div>
      <div class='col s12 m4 l4 hoverable'>
        <img class='materialboxed z-depth-2 responsive-img'
        data-caption='Test' src='http://i.imgur.com/nKzTPaS.jpg'/>
      </div>
    </div>

  </div>
</div>

<!-- Contact -->

<div class='section blue lighten-3'>
  <div class='container'>
    <h5 class='flow-text weight-200 scrollspy' id='contact'>
      How to talk to me
    </h5>
    <p class='flow-text'>
      Want to chat, do business or get a coffee? Email me at
      <strong><u><a href='mailto:ryankching29@gmail.com'>
        ryankching29@gmail.com
      </a></u></strong>
      and I will always get back to you. Of course, the coffee has to be on you.
    </p>
  </div>
</div>
