<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navbar -->
<div class='navbar-fixed'>
  <nav class='light-blue darken-2 scrollspy'>
    <div class='container'>
      <div class='brand-logo'>
        <strong>&lsaquo;RC&rsaquo;</strong>
      </div>
      <ul class='right hide-on-med-and-down'>
        <li><a href='#intro-card'>Home</a></li>
        <li><a href='#about'>About</a></li>
        <li><a href='#skills'>Skills</a></li>
        <li><a href='#projects'>Projects</a></li>
        <li><a href='#photos'>Photos</a></li>
        <li><a href='#contact'>Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<%= yield %>

</body>
</html>
